#menu-template {
  display: block;
  overflow: hidden;
  .loader-container{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 901;
    top: 50%;
    left: 50%;

    .wheel {
      width: 25px;
      height: 25px;
      margin: auto;
      border: 3px solid $color-blue;
      border-radius: 50%;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: spin 950ms infinite linear;
      position: fixed;
      top: 50%;
    }
  }
  .no-content {
    margin-top: 50px;
  }
  #table-wrapper {
    #menu-template-header {
      flex-direction: row;
      display: flex;
      align-items: center;

      #menu-template-title{
        flex: 1 1 auto;
        height: 27px;
        width: 53px;
        color: $color-blue;
        font-size: 21px;
        font-weight: 500;
        line-height: 27px;
      }
      #template-buttons {
        display: flex;
        .menu-template{
            .btn{
              background-color:$color-blue;
              color: $color-white;
              padding: 0.4375rem 1.125rem;
              font-size: 1.0625rem;
              border: 1px solid $color-blue;
              border-radius: 0.125rem;
              cursor: pointer;
              outline: none;
              font-weight: 300;
              float: right;
            }

          .add-menu-template{
            flex-direction: column;
            .children{
              .input{
                display: block;
                border: 1px solid lightgray;
                outline: none;
                font-size: 16px;
                font-weight: 100;
                border-radius: 3px;
                padding: 11px 10px;
                width: 100%;
                margin-top: 8px;
              }

              label{
                display: block;
                font-size: 15px;
                font-weight: 100;
                margin-bottom: 8px;
                padding-top: 8px;
                width: 100%;
                color: $color-dark-gray;
                margin-top: 2px;
              }

              .description{
                .form-error {
                  float: right;
                  margin-top: 0;
                }

                textarea{
                  display: block;
                  border: 1px solid lightgray;
                  outline: none;
                  font-size: 16px;
                  font-weight: 100;
                  border-radius: 3px;
                  padding: 11px 10px;
                  width: 100%;
                  margin-top: 8px;
                  resize: none;
                  overflow: auto;
                }
              }
            }

            .modal .modal-content .modal-footer .button-container {
              justify-content: space-between;
            }

            .modal .form-error {
              float:right;
              margin-top: -60px;
            }
          }
        }

        .menu-template-header-buttons{
          background-color:$color-blue;
          color: $color-white;
          padding: 0.4375rem 1.125rem;
          font-size: 1.0625rem;
          border: 1px solid $color-blue;
          border-radius: 0.125rem;
          cursor: pointer;
          outline: none;
          font-weight: 300;
          flex: 0 0 auto;
          margin-left: 0.6em;
        }
      }
    }
    #menu-template-table-header {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      align-items: center;
      color: $color-white;
      background: $color-blue;
      margin-bottom: 10px;
      width: 100%;
      font-size: 13px;
      box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    }
    #table-body{
      background-color: #fff;
      border-radius: 2px;
      font-size: 13px;
      color: $color-dark-gray;;
      margin-bottom: 5px;
      box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
      #table-row{
        padding: 15px;
        a{
          color:  $color-dark-gray;
        }
        &:hover {
          background: $color-light-grey;
          transition: all .5s ease-out;
          cursor: pointer;
        }
        #custom-row{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          #options{
            #edit-menu{
              color: $color-white !important;
              padding: 5px 10px;
              background: $color-yellow;
              border-radius: 0.1875rem;
              outline: none;
              cursor: pointer;

              &:hover {
                color: $color-yellow !important;
                background: $color-white;
                border: 1px solid $color-yellow;
              }
            }
            #delete-menu{
              color: $color-white !important;
              padding: 5px 10px;
              background: $color-red;
              border-radius: 0.1875rem;
              outline: none;
              margin-left: 0.5em;
              cursor: pointer;

              &:hover {
                color: $color-red !important;
                background: $color-white;
                border: 1px solid $color-red;
              }
            }
            #select-menu-template{
              margin-left: 2em;
              width: 3em;
            }
          }
        }
      }
    }
  }
  header {
    all: unset;

    .menu-header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
      width: 100%;
      margin: 0 0 px-to-rem(5px) 0;

      .button {
        @include buttons(
          $color-blue,
          $color-white,
          px-to-rem(7px) px-to-rem(18px),
          px-to-rem(17px),
          1px solid $color-blue
        );

        font-family: 'Open Sans', $font-family-pro;
        font-weight: 300;
        height: 36px !important;
        margin: auto 0.5em;
        border-radius: 4px;
      }

    }
  }
}

@keyframes spin {
	100%{ transform: rotate(360deg); }
}
