.menu-template{
  .header{
    .heading{
      font-weight: 700;
      font-size: 1.3125rem;
      margin: 0.375rem 0 0;
      display: inline-block;
      color: $color-blue;
    }

    .btn{
      background-color:$color-blue;
      color: $color-white;
      padding: 0.4375rem 1.125rem;
      font-size: 1.0625rem;
      border: 1px solid $color-blue;
      border-radius: 0.125rem;
      cursor: pointer;
      outline: none;
      font-weight: 300;
      float: right;
    }
  }

    .add-menu-template{
      .children{
        .input{
          display: block;
          border: 1px solid lightgray;
          outline: none;
          font-size: 16px;
          font-weight: 100;
          border-radius: 3px;
          padding: 11px 10px;
          width: 100%;
          margin-top: 8px;
        }

        label{
          display: block;
          font-size: 15px;
          font-weight: 100;
          margin-bottom: 8px;
          padding-top: 8px;
          width: 100%;
          color: $color-dark-gray;
          margin-top: 2px;
        }

        .description{
          .form-error {
            float: right;
            margin-top: 0;
          }

          textarea{
            display: block;
            border: 1px solid lightgray;
            outline: none;
            font-size: 16px;
            font-weight: 100;
            border-radius: 3px;
            padding: 11px 10px;
            width: 100%;
            margin-top: 8px;
            resize: none;
            overflow: auto;
          }
        }
      }

      .modal .modal-content .modal-footer .button-container {
        justify-content: space-between;
      }

      .modal .form-error {
        float:right;
        margin-top: -60px;
      }
    }
}
