.user-form {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
    border: 2px solid $color-blue;
    border-radius: 4px;
  }

.heading-style {
  font-weight: 600;
  font-size: 1.3125rem;
  color: $color-blue;
}

.line {
  border: solid $color-blue 1px;
}

.parent-div {
  padding-top: 50px;
}

.user-select-role {
    width: 30%;
    height: 40px;
    border: 2px solid $color-blue;
    border-radius: 4px;
    cursor: pointer;
}

.button-right {
  background-color: $color-blue;
  color: $color-white;
  padding: 8px 20px;
  font-size: 1.0625rem;
  border: 1px solid $color-blue;
  font-family: "DINPro";
  border-radius: 0.125rem;
  cursor: pointer;
  outline: none;
  user-select: none;
  font-family: "Open Sans", "DINPro";
  font-weight: 300;
  margin-left: 20px;

  &:hover {
    background-color: $color-white;
    color: $color-blue;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.text-margin {
  margin-right: 10px;
}
.users-container {
  .button-right {
    float: right;
  }
  .top {
    padding-top: 3rem;
  }
}
.user-container {
  width: 60%;
  margin: 10px auto;
  .user-info {
    padding: 0.5rem 1rem;
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    justify-content: space-between;
    .wrapper {
      display: flex;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .user-role {
        color: #fff;
        background: #3498db;
        padding: 2px;
        border-radius: 2px;
        text-transform: uppercase;
        margin: 0;
        font-size: 0.65rem;
      }
      p {
        margin: 0;
      }
    }
    .icons {
      align-self: center;
      .fas {
        padding-left: 0.8rem;
        cursor: pointer;
        color: #3359DF;
      }
    }
    .fa-trash:hover {
      color: red;
    }
    .fa-edit:hover {
      color: #ffaf30;
    }
  }
}

.admin-users__autocomplete-emails {
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  position: absolute;
  width: 28%;
  z-index: 1;
}

.admin-users__autocomplete-emails li {
  background-color: white;
  border-bottom: 2px solid rgb(204, 203, 204);
  border-radius: 2px;
  list-style-type: none;
  margin-left: -2.7rem;
  padding: 2%;
}

.admin-users__autocomplete-emails li:hover {
  background-color: rgb(204, 203, 204);
  cursor: pointer;
}