.modal {
  display: none;
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  .modal-content {
    position: relative;
    background-color: $color-white;
    border-radius: px-to-rem(4px);
    border: none;
    padding: 40px;
    margin: auto;
    border-radius: 4px;
    max-width: px-to-rem(420px);
    top: 5%;

    .modal-header {
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      margin: px-to-rem(10px) 0 px-to-rem(30px);

      .close-icon {
        flex: 1 0 0;
        margin-top: 2px;
        font-size: 15px;
        font-weight: 100;
        cursor: pointer;
        border: none;
        color: $color-light-blue;
      }

      .header-title {
        flex: 2 0 0;
        font-size: px-to-rem(20px);
        font-weight: 600;
        color: $color-blue;
        font-family: $font-family-opensans;
        &--error {
          color: red;
        }
      }
    }

    .modal-footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      margin-top: 28px;
      .button-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }

      button {

        @include buttons(
          $color-blue,
          $color-white,
          px-to-rem(10px) px-to-rem(18px) px-to-rem(7px),
          px-to-rem(16px),
          1px solid $color-blue
        );

        min-width: px-to-rem(100px);
        font-weight: 300;

        &.grayed {
          background: none;
          border-color: $color-medium-gray;
          color: $color-medium-gray;
          margin-right: 20px;
        }

        &.fill {
          color: $color-white;
          background-color: $color-blue;
          transition: all 0.5s ease-out;
          &--delete:hover {
            background: $color-red;
            border-color: $color-red;
          }
        }

        &.upper {
          font-size: px-to-rem(14px);
          text-transform: uppercase;
        }
      }
      button:disabled {
        cursor: not-allowed
      }

    }
  }
  .form-field-set {
    display: block;
    margin-bottom: 10px;

    label {
      @include field-label();
      font-size: 16px;
      color: $color-dark-gray;
    }

    input {
      @include field-input();
      margin-top: 1.5px;
    }
    select {
      all: unset;
      @include field-input();
      background: white url(http://andelaeats-dev.andela.com:3000/assets/images/down-arrow.png) no-repeat;
      background-size: 20px 20px;
      background-position: 98% 50%;
      width: 95%;
    }
  }
  .form-error {
    display: inline-block;
    font-size: 12px;
    color: $color-red;
    margin-left: 8px;
  }
  .errors{
    float:right;
  }
}

@media only screen and (max-width: 640px) {
  .modal-content {
    width: 60%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  .modal-content {
    width: 50%;
  }
}
