.side-nav {
  height: 100%;
  width: 150px;
  background-color: #f4f8f9;
  box-shadow: inset -1px 0 0 0 #dcdcdc;
  position: fixed;
  overflow: scroll;
}
.side-nav-item-wrapper {
  width: 99.5%;
  background-color: #f4f8f9;
  margin-bottom: 50px;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

.side-nav-item {
  height: 50px;
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  color: $color-medium-gray;
  font-weight: 500;
  font-size: 14px;

  &.active {
    background-color: $color-white;
    cursor: pointer;
    color: $color-dark-gray;
  }

  &.active::before {
    border-width: 8px;
    border-right-color: $color-blue;
    border-bottom-color: $color-blue;
    color: $color-dark-gray;
  }

  &:hover {
    background-color: $color-white;
    cursor: pointer;
    color: $color-dark-gray;
  }
  &:hover::after {
    border-width: 8px;
    border-right-color: $color-blue;
    border-bottom-color: $color-blue;
  }
}

.sub-menu-item {
  height: 30px;
  width: 100%;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 30px;
  color: $color-medium-gray;
  font-weight: 600;
  font-size: 12px;

  &.active {
    background-color: $color-green-light;
    cursor: pointer;
    color: $color-dark-gray;
  }

  &:hover {
    background-color: $color-green-light;;
    cursor: pointer;
    color: $color-dark-gray;
  }
}

.side-nav-item::before,
.side-nav-item::after {
  content: '';
  position: absolute;
  top: 68.0%;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.home {
  background-image: url('../assets/images/home-icon@2x.png');
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: left;
  background-position-x: 8%;
  padding-left: 15px;
  &.active {
    background-image: url('../assets/images/active-home-icon@2x.png');
  }
  &:hover {
    background-image: url('../assets/images/active-home-icon@2x.png');
  }
}

.dashboard{
  background-image: url('../assets/images/dashboard-icon.png');
  background-repeat: no-repeat;
  background-size: 23px;
  padding-left: 30px;
  background-position: left;
  background-position-x: 8%;

  &.active {
    background-image: url('../assets/images/dashboard-active.png');
  }
  &:hover {
    background-image: url('../assets/images/dashboard-active.png');
  }
}

.order {
  background-image: url('../assets/images/delivery-truck.png');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: left;
  padding-left: 20px;
  background-position-x: 8%;
  &.active {
    background-image: url('../assets/images/active-delivery-truck.png');
  }
  &:hover {
    background-image: url('../assets/images/active-delivery-truck.png');
  }
}

.about {
  background-image: url('../assets/images/about.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: left;
  padding-left: 20px;
  background-position-x: 8%;
  &.active {
    background-image: url('../assets/images/about-active.png');
  }
  &:hover {
    background-image: url('../assets/images/about-active.png');
  }
}

.faq {
  background-image: url('../assets/images/faqs.png');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: left;
  padding-left: 20px;
  background-position-x: 8%;
  &.active {
    background-image: url('../assets/images/faqs-active.png');
  }
  &:hover {
    background-image: url('../assets/images/faqs-active.png');
  }
}

.vendors {
  background-image: url('../assets/images/vendor.svg');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: left;
  padding-left: 30px;
  background-position-x: 8%;
  &.active {
    background-image: url('../assets/images/active-vendor.svg');
  }
  &:hover {
    background-image: url('../assets/images/active-vendor.svg');
  }
}

.ratings {
  background-image: url('../assets/images/rating.png');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: left;
  padding-left: 20px;
  background-position-x: 8%;
  &.active {
    background-image: url('../assets/images/rating.png');
  }
  &:hover {
    background-image: url('../assets/images/rating.png');
  }
}

.users {
  background-image: url('../assets/images/add-user.png');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: left;
  padding-left: 20px;
  background-position-x: 8%;
  &.active {
    background-image: url('../assets/images/add-user-active.png');
  }
  &:hover {
    background-image: url('../assets/images/add-user-active.png');
  }
}

.engagements {
  background-image: url('../assets/images/handshake.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left;
  padding-left: 20px;
  background-position-x: 8%;
  &.active {
    background-image: url('../assets/images/handshake.png');
  }
  &:hover {
    background-image: url('../assets/images/handshake.png');
  }
}

.meals {
  background-image: url('../assets/images/meals.svg');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left;
  padding-left: 20px;
  &.active {
    background-image: url('../assets/images/active-meals.svg');
  }
  &:hover {
    background-image: url('../assets/images/active-meals.svg');
  }
}

.menus {
  background-image: url('../assets/images/menus.svg');
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: left;
  background-position-x: 8%;
  padding-left: 20px;
  &.active {
    background-image: url('../assets/images/active-menus.svg');
  }
  &:hover {
    background-image: url('../assets/images/active-menus.svg');
  }
}

.main-container {
  margin-left: 150px;
  width: calc(100% - 150px);
  margin-top: 80px;

  .section {
    width: 90%;
    margin: 50px auto;
    min-width: 400px;
  }
}

.push-down {
  padding-top: 80px;
}
