// Colors
$color-white: #ffffff;
$color-blue: #3359df;
$color-pale-blue: #dae1f8;
$color-light-blue: #3359db;
$color-yellow: #ffaf30;
$color-black: #000000;
$color-ghostwhite: #f4f8f9;
$color-dark-gray: #333e44;
$color-medium-grey: #6d6d6d;
$color-gray: #dcdcdc;
$color-light-gray: #ececec;
$color-medium-gray: #999999;
$color-light-black: #747474;
$color-light-grey: #dcdcdc;
$color-green: #51a803;
$color-red: #ff0000;
$background-white: #fff;
$background-blue: #3359db;
$pending-yellow: #ffac00;
$collected-green: #1aac00;
$color-green-light: #e3e6e6;

// Fonts size
$base-font-size: 16px;

// Fonts Family
$font-family-pro: 'DINPro';
$font-family-regular: 'DINPro-Regular';
$font-family-opensans: 'Open Sans';

// Screen Break Points
$small_screen: 20em;
$large_screen: 64em;

$num-col-spans: 12;
